<%- include('../partials/header') %>
<h2>Flight Info</h2>
<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <br>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <br>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <br>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div>
  </section>

  <section id="tickets-container">
    <% tickets.forEach(function(ticket) { %>
      <div>Seat: <%= ticket.seat %></div>
      <div>Price: <%= ticket.price %></div>
    <% }); %>
  </section>

  <br><br><h2>Destinations</h2>

  <form id="add-destination-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Airport:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="LAX">LAX</option>
    <option value="SAN">LAX</option>
  </select>
  <br>
  <label>Arrival
    <input type="date" name="arrival">
  </label>
  <br>
    <input type="submit" value="Add Destination">
</form>



<% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
          <th>Arrival</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Destinations Yet</h5>
  <% } %>

  <a href="/flights/<%= flight._id %>/tickets/new">Add a Ticket</a>


<%- include('../partials/footer') %>
